{% extends 'base.html' %}


{% block body %}



<h1 class="text-center"> Our Department</h1>
<hr>



<div class="container">
    <div class="row">
         {% for d in dept %}
        <div class="col-md-3">

            <div class="card" style="margin-top:50px; margin-bottom:50px; " >
             <img src="{{d.image.url}}" class="Card-img-top" alt="" width="250px" height="300px">
      <div class="card-body">
          <h5 class="card-title">{{d.department }}</h5>
            <a href="https://www.google.com/search?q=www+wikipedia&oq=www.wikp&gs_lcrp=EgZjaHJvbWUqDAgBEAAYChixAxiABDIGCAAQRRg5MgwIARAAGAoYsQMYgAQyCQgCEAAYChiABDIJCAMQABgKGIAEMgkIBBAAGAoYgAQyCQgFEAAYChiABDIJCAYQABgKGIAEMgkIBxAAGAoYgAQyCQgIEAAYChiABNIBCjM2NDQ3ajBqMTWoAgCwAgA&sourceid=chrome&ie=UTF-8" class="btn btn-primary">View More</a>
      </div>
</div>
        </div>
      {% endfor %}


    </div>
</div>
{% endblock %}